# Django
DJANGO_SECRET_KEY=change-this-to-a-long-random-secret-key
DEBUG=True

# Comma-separated hosts/origins
ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2,agrosync.site,www.agrosync.site
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://10.0.2.2:8000,https://agrosync.site,https://www.agrosync.site

# PostgreSQL
DB_NAME=agrikonnect
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

# Yoola SMS
YOOLA_SMS_API_KEY=
YOOLA_SMS_URL=https://yoolasms.com/api/v1/send
git config --global user.email "you@example.com"
git config --global user.name "Your Name"